{
  "plugins": ["./node_modules/prettier-plugin-multiline-arrays"],
  "singleQuote": true,
  "singleAttributePerLine": true,
  "trailingComma": "all",
  "bracketSameLine": true,
  "arrowParens": "always"
}
