<ul class="nav nav-tabs">
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLinkActive]="['active']"
      routerLink="dashboard"
      >Dashboard</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLinkActive]="['active']"
      routerLink="counter"
      >Counter</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLinkActive]="['active']"
      routerLink="learning"
      >Learning Resources</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLinkActive]="['active']"
      routerLink="support"
      >Help and Support</a
    >
  </li>
</ul>
