<section>
  <h2>Help and Support</h2>
  <p>This is where you go to get help and support for this application.</p>

  <div data-testid="contact-info" *ngIf="onCallDeveloper$ | async as contact">
    <div>
      <p>
        Support Person Name <span data-testid="name">{{ contact.name }}</span>
      </p>
    </div>
    <div>
      <p>
        Support Person Phone
        <span data-testid="phone">{{ contact.phone }}</span>
      </p>
    </div>
    <div>
      <p>
        Support Person Email
        <span data-testid="email">{{ contact.email }}</span>
      </p>
    </div>
  </div>
</section>
